*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    place-content: center;
    height: 100vh;
}

.hovered {
    background-color: rgb(211, 255, 255);
}

#grid-size {
    color: rgb(37, 138, 171);
    background-color: rgb(236, 250, 255);
    font-weight: 500;
    width: 50%;
    padding: 10px;
    border: 2px solid rgb(140, 189, 206);
    border-radius: 10px;
    text-shadow: none;
    box-shadow: 4px 4px 8px 2px;
    margin: 0 auto;
    transition: 
        width 0.4s ease-in-out,
        color 0.4s ease-in-out,
        background-color 0.4s ease-in-out,
        padding 0.4s ease-in-out,
        text-shadow 0.4s ease-in-out,
        font-weight 0.4s ease-in-out;
}

#grid-size:hover {
    width: 52%;
    cursor: pointer;
    color:  rgb(236, 250, 255);
    background-color: rgb(37, 138, 171);
    text-shadow:
        0 0 50px rgba(0, 255, 255, 0.5),  /* x-offset, y-offset, blur-radius, color */
        0 0 10px rgba(0, 255, 255, 0.5),
        0 0 20px rgba(0, 255, 255, 0.5),
        0 0 40px rgba(0, 255, 255, 0.5);
    font-weight: 600;
    padding: 15px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
}