*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    place-content: center;
    height: 100vh;
}

.hovered {
    background-color: rgb(211, 255, 255) !important;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
}