*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
}