*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    place-content: center;
    height: 100vh;
}

.hovered {
    background-color: rgb(211, 255, 255) !important;
}

#grid-size {
    color: rgb(37, 138, 171);
    background-color: rgb(236, 250, 255);
    width: 50%;
    padding: 10px;
    border: 2px solid rgb(140, 189, 206);
    border-radius: 10px;
    box-shadow: 4px 4px 8px 2px;
    margin: 0 auto;
}

#grid-size:hover {
    cursor: pointer;
    color:  rgb(236, 250, 255);
    background-color: rgb(37, 138, 171);
    padding: 12px;
    box-shadow: 14px 14px 8px 10px;
    transition: ease-in-out;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
}